aichar
pillow
trampoline
einops
wcwidth
tqdm
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.2+cu118
torchaudio
torchvision
torchtext==0.6.0
diffusers
transformers
accelerate
ctransformers[cuda]
langchain
langchain-community
gradio
