aichar==1.0.5
pillow==11.3.0
trampoline==0.1.2
einops==0.3.0
wcwidth==0.2.13
tqdm==4.67.1
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
torchtext==0.6.0
diffusers==0.34.0
transformers==4.53.2
accelerate==1.8.1
ctransformers==0.2.27
langchain==0.3.26
langchain-community==0.3.27
gradio==5.35.0
numpy==1.26.4
sdkit==2.0.17
